html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.marmelad-regular {
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.marmelad-bold {
    font-family: "Marmelad", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.marmelad-thin {
    font-family: "Marmelad", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.marmelad-italic {
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.marmelad-italic-bold {
    font-family: "Marmelad", sans-serif;
    font-weight: 700;
    font-style: italic;
}

#main-header {
    transition: transform 0.5s ease-out;
}

#main-header.scroll-down {
    transform: translateY(-105%);
}

#my-icon {
    width: 50px !important;
}

#title {
    right: 50%;
    transform: translateX(50%);
}

.logo {
    max-width: 33px !important;
    height: 33px !important;
}

.s-dot {
    border: 1px dotted black;
}

.list-no-p {
    padding-left: 0;
}